<div class="p-4" [formGroup]="userForm">
  <p class="text-xl font-semibold">Dependentes:</p>

  <div>
    <button class="rounded-md px-4 py-3 leading-5 text-white bg-sky-600 hover:bg-sky-500" (click)="addDependent()">Novo
      dependente</button>
  </div>
  <ng-container formArrayName="dependentsList">
    <ng-container *ngFor="let dependent of dependentsList.controls; let i = index;" [formGroupName]="i">
      <div class="my-4 grid grid-cols-2 sm:grid-cols-4 gap-4">
        <mat-form-field class="w-full">
          <mat-label>Nome:</mat-label>
          <input matInput placeholder="Nome" formControlName="name">
          <mat-error>O nome é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Idade:</mat-label>
          <input matInput placeholder="20" formControlName="age">
          <mat-error>A idade é obrigatória.</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Documento:</mat-label>
          <input matInput placeholder="123.123.123-23" formControlName="document" mask="000.000.000-00">
          <mat-error *ngIf="dependent.get('document')?.hasError('required')">O documento é obrigatório.</mat-error>
          <mat-error *ngIf="dependent.get('document')?.hasError('mask')">O documento é inválido.</mat-error>
        </mat-form-field>
        <div class="flex justify-center items-baseline box-border p-2">
          <button class="rounded-md px-4 py-3 leading-5 text-white bg-red-600 hover:bg-red-500"
            (click)="removeDependent(i)">Excluir</button>
        </div>
      </div>

      <hr class="block sm:hidden">
    </ng-container>
  </ng-container>
</div>